/* Restaurante/public/login.css */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-abstrato-escuro_1048-1920.jpg?size=338&ext=jpg&ga=GA1.1.1297763733.1729123200&semt=ais_hybrid'); /* Caminho da imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa */
}

.container {
    text-align: center;
    padding: 18px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 20px;
}

label {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #28a745;
}

button {
    width: 60%;
    padding: 8px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.separator {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #aaa;
    position: relative;
}

.separator:before,
.separator:after {
    content: "";
    height: 1px;
    background: #ddd;
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.separator:before {
    left: 0;
}

.separator:after {
    right: 0;
}
